
body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
}

.first-section{
    background-color: #1f2937;
    color: #f9faf8;
}

/* Header and links styling */
.header{
    display: flex;
    margin-right: 300px;
    margin-left: 300px;
    gap: 500px;
    justify-content: space-between;
    align-items: center;
}

.header > h1 {
    font-size: 24px;
}

.header > img{
    width: 100px;
    height: 100px;
}

.links{
    display: flex;
    font-weight: lighter;
    list-style-type: none;
    justify-content: flex-end;
    gap: 50px;
    font-size: 18px;
    color: #e5e7eb;
}


/* Main section styling */
.main{
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}

.main > h1 { 
    font-size: 48px;
    margin: 0px;
}

.main > img{
    width: 500px;
    height: 350px;
    margin-right: auto;
}

.main > button{
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    width: fit-content;
}

.main p{
    inline-size: 500px;
    text-align: center;
    opacity: 0.7;
}

button:hover{
    padding: 15px;
}

/* Second section */
.distros{
    height: 300px; 
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.distros  img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.distros  h1{
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937
}

/* Third Section */
.third-section{
    background-color: #e5e7eb;
    flex-direction: column;
    display: flex;
    height: 300px;
    justify-content: center;
    text-align: center;
}

.third-section p{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.third-section b{
   text-align: right; 
   padding-right: 500px;
}

/* TODO Sign up section */